@import '../../assets/main.css';

.toast {
  display: flex;
  text-align: center;
  align-items: center;
  place-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slide-in 0.5s ease-in-out;
}

.toast-icon {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.toast-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toast-success {
  background-color: #4caf50;
}

.toast-error {
  background-color: #f44336;
}

.toast-info {
  background-color: #555;
}

.toast button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  margin: 0px 0px 0px 7px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.toast button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateY(25%);
  }
}

.toast-removal {
  animation: slide-out 0.5s ease-out;
}
