@import '../../assets/main.css';

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dashboard-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.75s ease-out forwards;
}

.sidebar {
  width: 20%;
  background-color: rgba(12, 12, 16, 0.8);
  color: white;
  padding: 15px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right-sidebar {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 15px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  position: fixed;
  right: 15px;
  top: 15px;
  height: calc(100vh - 30px);
  border-radius: 12px;
}

.logo-sidebar {
  width: 70%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  will-change: filter;
  transition: filter 300ms;
}

.logo-sidebar:hover {
  filter: drop-shadow(0 0 1.2em #ffffff33);
}

.welcome-header {
  font-size: calc(1.4vw);
  color: rgba(255, 255, 255, 0.4);
}

.username {
  font-size: calc(2.5vw);
  font-weight: 900;
  margin-top: -5px;
}

.current-date {
  font-size: 14px;
}

.current-time {
  font-size: 24px;
  margin-bottom: 20px;
}

.communication-status {
  display: flex;
  align-items: center;
  background-color: rgba(0, 255, 0, 0.3);
  padding: 5px;
  /* border-radius: 5px; */
  width: 60%;
  margin-left: 20%;
}

.communication-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}

.activity-icon {
  margin-right: 5px;
  margin-left: -2.5px;
}

.sidebar-section {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.welcome-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: -5px;
}

.communication-status-header {
  font-size: 12px;
  margin-bottom: 5px;
}

.sidebar-time {
  width: 100%;
  text-align: center;
}

.bottom-sidebar-components {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-versions {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  width: 100%;
  text-align: center;
}

.logout-button-container,
.terminate-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.button-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.mode-button {
  background: rgba(27, 27, 31, 0.75);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px 0px;
  transition: ease-in-out 0.3s;
  font-size: 16px;
  width: 22.5%;
}

.mode-button:hover {
  background: rgba(27, 27, 31, 1.0);
  transition: ease-in-out 0.3s;
}

h2 {
  font-weight: 900;
  text-align: center;
}

h3 {
  font-weight: bold;
  text-align: left;
}